<h1 mat-dialog-title >Add News </h1>
<div mat-dialog-content>
  <form [formGroup]="newsform">
    <mat-form-field appearance="outline">
        <mat-label>Text</mat-label>
        <textarea formControlName="text" matInput placeholder="text"></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Sentiment Data</mat-label>
        <input formControlName="senData" matInput type="number" placeholder="Sentiment Data">
      </mat-form-field>
  </form>
</div>
<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close> Close </button>
    <button style="margin-left: 8px" mat-raised-button color="primary" (click)="addNews()" mat-dialog-close> {{actionBtn}}</button>

</div>